* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 220px auto;
}

.flex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-side {
    height: 100vh;
    width: 220px;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.left-side img {
    height: 200px;
    width: 200px;
}

.right-side {
    height: 100%;
    width: auto;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
}

.enlarged-image {
    pointer-events: none;
}

.enlarged-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    pointer-events: none;
}